.mainWrap {
  text-align: center;
  max-width: 1024px;
  margin: 2em auto;
}
.mainInputWrap {
  background-color: #d4d4d4;
  margin-top: 1em;
  padding: 2em 0;
  border-bottom: 1px solid grey;
}

.mainInputWrap input,
.mainInputWrap button {
  padding: 0.5em;
  outline: none;
  font-size: 1em;

  margin: 0.5em;
  border: 1px solid #d4d4d4;
}
.mainInputWrap input {
  border-top-left-radius: 10px;
}
.mainInputWrap button {
  cursor: pointer;
  border-bottom-right-radius: 10px;
}
.mainInputWrap button:hover {
  background-color: tomato;
  color: white;
}
.taskMainWrap {
  margin: 1.5em 0.5em;
  display: flex;
  justify-content: space-between;
}

.taskWrap {
  margin: 0.8em auto;
  background-color: lightgray;
  padding: 0.5em;
  box-shadow: 0px 3px 3px 2px lightgrey;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
}

.taskWrap button {
  cursor: pointer;
  border: none;
  padding: 0.1em 0.5em;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 5px;
}
.taskWrap button:hover {
  border: none;
  background-color: tomato;
  color: white;
}
.taskColumnWrapper {
  margin: 0 auto;
  height: 60vh;
  width: 30%;
  overflow-y: scroll;
  overflow-wrap: normal;
  overflow-x: scroll;
  padding: 0.5em;
}

@media screen and (min-width: 768px) {
  .taskWrap {
    display: flex;
    justify-content: space-between;
  }
  .taskWrap button {
    margin: 0em 1em;
  }
  .taskColumnWrapper {
    padding: 0.5em;
  }
}
